[package]
name = "tribles"
version = "0.3.0-alpha.1"
authors = ["Jan Bramkamp <crest@rlwinm.de>", "⚫️ <jp@bultmann.eu>", "Vanja Sophie Cangalovic <vanja@bultmann.eu>"]
edition = "2018"
description = "The tribles knowledge base implementation for rust."
homepage = "https://tribles.space"
license = "MIT"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anybytes = {version = "0.10.0-alpha.1", features = ["bytes", "zerocopy"]}
rand = "0.8.5"
digest = "0.10.7"
ux = "0.1.5"
siphasher = "0.3"
arbitrary = { version = "1", features = ["derive"] }
object_store = "0.10.1"
hex = "0.4.3"
hex-literal = "0.3.4"
url = "2.5.0"
ed25519 = "2.2.3"
ed25519-dalek = "2.1.0"
blake2 = "0.10.6"
blake3 = { version = "1.5.0", features = ["traits-preview"] }
futures = "0.3.30"
signature = "2.2.0"
anyhow = "1.0"
zerocopy = { version = "0.7.34", features = ["derive"] }
bytes = "1.6.0"
bytemuck = { version = "1.15.0", features = ["extern_crate_alloc"]}
proptest = { version = "1.4.0", optional = true }
hifitime = "3.9.0"
f256 = "0.2.0"
sucds = "0.8.1"
itertools = "0.12.0"
sptr = "0.3.2"
indxvec = "1.9.0"
ethnum = "1.5.0"
num-rational = "0.4.2"

#[dev-dependencies]
criterion = "0.3"
im = "15.1.0"
oxigraph = "0.3.22"
peak_alloc = "0.1.0"
fake = "2.8"
coz = "0.1"
rayon = "1.7"

[features]
default = ["proptest"]
proptest = ["dep:proptest"]

[[bench]]
name = "benchmark"
harness = false

[profile.bench]
debug = true
opt-level = 3

[profile.release]
debug = true
